<div class="header-wrapper">
  <section class="text-side">
    <h1>Suas Tarefas, Seguras e Sempre à Mão</h1>
    <div class="text-container">
      <p>
        Com o TaskVault, suas tarefas ficam organizadas e armazenadas diretamente no seu navegador, sem depender de servidores externos. Gerencie seus projetos com facilidade, em qualquer lugar, com total privacidade e segurança.
      </p>
      <p>Simples, rápido e totalmente offline, o TaskVault coloca o controle nas suas mãos. Concentre-se no que realmente importa, sabendo que suas informações estão protegidas e sempre acessíveis.</p>
    </div>
  </section>
  <section class="img-side">
    <!-- <img src="/src/assets/img/card-mock.png" alt=""> -->
  </section>
</div>
