
<div class="section">
  <div class="section-wrapper">
    <div class="header" id="sectionHeader">
      <label>Lista de Tarefas</label>
    </div>
    <div class="card-list">
      <app-task-item *ngFor="let task of tasksList"
      [taskItem]="task"
      (emitItemToRemove)="removeTask($event)"
      (emitItemToUpdated)="updatedTaskStatus($event)"
      (emitItemToEdit)="receiveTaskToEdit($event)"></app-task-item>
    </div>
  </div>
  <app-task-form [taskToEdit]="taskItemToEdit"></app-task-form>
</div>
